<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intro</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/style2.css' %}">
</head>

<body>
    <h1>Welcome {{ username }}</h1>
    <hr>
    <p>
        My name is {{username}}. I am from {{ user_city }}. I work as a {{ desi }}. Lorem ipsum dolor sit amet
        consectetur, adipisicing elit. Nemo soluta magni delectus dolor similique eveniet sed iure, amet nobis excepturi
        ea atque hic consequatur animi cupiditate porro. Repudiandae, quidem? Consequatur dolores nisi aperiam corrupti
        harum numquam vel eos laudantium iusto tempore. Dignissimos, vel. reiciendis sit obcaecati accusamus aliquam
        aliquid quibusdam eos at, doloremque cum, vitae consectetur tempore error necessitatibus animi commodi! Ab
        deserunt incidunt voluptatum consequuntur vero voluptas iure nemo, maiores aspernatur molestiae praesentium,
        voluptatem aut nam dolore amet repellat distinctio corporis modi saepe necessitatibus aliquam quasi quaerat
        earum. Assumenda, esse ab in odit blanditiis obcaecati consectetur voluptates animi est voluptatibus maxime hic
        libero.</p>

    
</body>

</html>