<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Welcome</h1>
    <a href="{% url 'new' %}"><button style="background-color: rgb(50, 50, 255);">Add New</button></a><br><br>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        {% for e in employee %}
            <tr>
                <td>{{e.id}}</td>
                <td>{{e.name}}</td>
                <td>{{e.address}}</td>
                <td>
                    <a href="update/{{e.id}}"><button style="background-color: rgb(50, 255, 50);">Update</button></a>
                    <a href="delete/{{e.id}}"><button style="background-color: rgb(255, 50, 50);">Delete</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>

</body>
</html>